.select-produto__control {
  border: solid 1.5px black;
  width: 100%;
  border-radius: 20px !important;
  padding: 5px 0px 5px 5px;
  margin-bottom: 7px;
}

.select-produto__control--is-focused {
  border-color: var(--vermelho-vivo) !important;
  box-shadow: 0 0 0 0.25rem rgba(120, 0, 0, 0.5) !important;
  outline: 0;
}

.select-produto__placeholder {
  color: var(--verdeMedio);
}

.select-produto__option {
  padding: 10px;
  color: #212529;
  background-color: #fff;
}

.select-produto__option--is-focused {
  background-color: rgba(193, 18, 31, 0.9) !important;
  color: white !important;
  cursor: pointer !important;
}

.select-produto__option--is-selected {
  background-color: rgba(193, 18, 31, 0.9) !important;
  color: white !important;
}
